{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "strict",
  "quoteProps": "preserve",
  "endOfLine": "lf"
}