@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.topnav {
  display: none;
}

@media (min-width: 1024px) {
  .topnav {
    display: flex;
  }
}

.mobile {
  background-color: #dcc1ab;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
}

.dropdown {
  display: none;
}

.dropped {
  display: flex;
  gap: 5px;
  font-size: 14px;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  top: 2rem;
}

.slider {
  height: calc(100dvh - 114px);
}
.swiper-slide {
  display: grid !important;
  height: calc(100dvh - 114px) !important;
}

@media (min-width: 1024px) {
  .slider {
    height: calc(100dvh - 72px);
  }
  .swiper-slide {
    display: grid !important;
    height: calc(100dvh - 72px) !important;
  }
}

.swiper-slide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  background-color: black;
}
.gradient {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
