@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.topnav {
  display: none;
}

@media (min-width: 1024px) {
  .topnav {
    display: flex;
  }
}

.mobile {
  background-color: white;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
}

.slider {
  height: calc(100dvh - 114px);
}
.swiper-slide {
  display: grid !important;
  height: calc(100dvh - 114px) !important;
}

@media (min-width: 1024px) {
  .slider {
    height: calc(100dvh - 72px);
  }
  .swiper-slide {
    display: grid !important;
    height: calc(100dvh - 72px) !important;
  }
}

.macy-item:hover {
  transform: scale(1.05);
  transition: all;
  transition-duration: 300ms;
}
